doctype html
html.full(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href="/")
    title Training Buddy
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/bundle.css')
    link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='assets/vendor/ng-tags-input/build/ng-tags-input.min.css')
    link(rel='stylesheet', href='assets/vendor/ng-tags-input/build/ng-tags-input.bootstrap.min.css')
    link(rel='stylesheet', href='assets/vendor/angular-ui-select/select.min.css')
  body()
    app
          //ng-outlet
    //.site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead
            .inner
              h3.masthead-brand Training Buddy
              nav
                ul.nav.masthead-nav
                  li(ng-class="{active: isActive('/new')}")
                    a(href='#/new') New
                  li(ng-class="{active: isActive('/statistics')}")
                    a(href='#/statistics') Statistics
                  li
                    a(href='#') Account
          .inner.cover
            ng-view
          .mastfoot
            .inner
              p May the force be with you.
    script(src='assets/vendor/jquery/dist/jquery.min.js')
    script(src='assets/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='assets/bundle.js')