extends layout

block css
  link(rel='stylesheet', href='assets/styles/login.css')

block content
  .form-container
    form.form-login(action="/login", method="post")

      h2.form-login-heading Please log in
      .form-group(class=message ? "has-error" : "")
        label.sr-only(for='inputUsername') Username
        input#inputUsername.form-control(type='text', placeholder='Username', required='', autofocus='', name="username")
      .form-group(class=message ? "has-error" : "")
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='', name="password")
      if message
        .alert.alert-danger.incorrect-password= message
      div Don't have account? &nbsp;
        a(href="/register") Register here
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
  .footer
    p May the force be with you
